body{
    background-color: black;
    color: white;
}

header{
    position: sticky;
    top: 0;
}
.nav-item{
    background-color: white;
    margin: 6px 4px;
}

.nav-item a{
    color: black;
}

h2, p{
    text-align: center;
}

.card-body{
    color: black;
    padding: 50px 30px;
    margin: 4px;
}

.text-center{
    margin: auto;
}

.card-body a:hover{
    color: black;
}

.card{
    color: black;
    margin: auto;
    margin-top: 24px;
    align-items: center;
}

#contact{
    background-color: #e1dcdc;
    border-radius: 0px;
}